:host {
  background: black;
}

mat-toolbar {
  background: inherit;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e9c70a;
}

mat-toolbar-row {
  float: left;
  // height: 200px;
  img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
}

mat-toolbar-row:first-child {
  margin: 20px 0px;
}

links {
  ul li {
    // margin-right: 2.5rem;

    a:hover {
      color: #e9c70a;
    }
  }
}

.cart-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  font-weight: bold;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 15px;

  .cart-icon {
    margin-right: 10px;
  }

  .item-added {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(253, 48, 48);
    position: absolute;
    bottom: -7px;
    left: -7px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 10px;
      letter-spacing: 0px;
    }
  }
}

.small-cart {
  display: flex;
}

.highlight-page {
  color: #e9c70a !important;
}

@media (min-width: 992px) {
  .small-cart {
    display: none;
  }
}

@media (max-width: 992px) {
  .big-cart {
    display: none;
  }
}
