<!-- <mat-toolbar>
  <mat-toolbar-row>
    <img src="assets/across.svg" alt="logo" />
  </mat-toolbar-row>
  <mat-toolbar-row class="across-navbar">
    <div class="empty-space" style="width: 91px;"></div>
    <ul>
      <li><a href="/">Shop</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">FAQ</a></li>
      <li><a href="/">Contact Us</a></li>
    </ul>
    <a href="/checkout" class="cart-button">
      <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
      Cart
    </a>
  </mat-toolbar-row>
</mat-toolbar> -->
<mdb-navbar class="navbar d-flex justify-content-center" style="height: 150px;">
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/home">
      <img src="assets/across.svg" style="height: 75px; width: auto; padding: 20px 0px;" alt="logo" /> </a
  ></mdb-navbar-brand>
</mdb-navbar>

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" [containerInside]="false">
  <!-- Navbar brand -->

  <div class="mr-auto" style="width: 91px;"></div>
  <a routerLink="/checkout" class="cart-button small-cart" routerLinkActive="highlight-page" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
    <div class="item-added" *ngIf="itemsNo > 0">
      <span>{{ itemsNo }}</span>
    </div>
  </a>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Shop<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>FAQ</a>
      </li>
      <li class="nav-item">
        <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Contact Us</a>
      </li>

      <!-- Dropdown -->
    </ul>
    <a routerLink="/checkout" routerLinkActive="highlight-page" [routerLinkActiveOptions]="{ exact: true }" class="cart-button big-cart">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="cart-icon">shopping_cart</mat-icon>
      <div class="item-added" *ngIf="itemsNo > 0">
        <span>{{ itemsNo }}</span>
      </div>
      Cart
    </a>

    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
