<mat-toolbar>
  <mat-toolbar-row>
    <img src="assets/across.svg" alt="logo" />
  </mat-toolbar-row>
  <mat-toolbar-row class="across-navbar">
    <div class="empty-space" style="width: 91px;"></div>
    <ul>
      <li><a href="/">Shop</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">FAQ</a></li>
      <li><a href="/">Contact Us</a></li>
    </ul>
    <a href="/checkout" class="cart-button">
      <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
      Cart
    </a>
  </mat-toolbar-row>
</mat-toolbar>
