:host {
  background: black;
}

mat-toolbar {
  background: inherit;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e9c70a;
}

mat-toolbar-row {
  // height: 200px;
  img {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
}

mat-toolbar-row:first-child {
  margin: 20px 0px;
}

links {
  ul li {
    // margin-right: 2.5rem;

    a:hover {
      color: #e9c70a;
    }
  }
}

.cart-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 15px;

  mat-icon {
    margin-right: 10px;
  }
}

.small-cart {
  display: flex;
}

.highlight-page {
  color: #e9c70a !important;
}

@media (min-width: 992px) {
  .small-cart {
    display: none;
  }
}
