.wrapper {
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;

  .upper {
    flex: 1;
    display: flex;
    // margin: auto;
    // border: 1px solid red;
    .carousel {
      background-color: red;
      flex: 1;
    }
    .details {
      border: 1px solid red;
      flex: 1;
      .tshirtName {
        width: 450px;
        margin: 20px;
        font-weight: bold;
        font-family: "Roboto";
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
  .lower {
    flex: 1;
    border: 1px solid red;
    // background-color: #333;
    // margin-top: 100px;
  }
}
