p {
  font-family: "Roboto";
  font-size: 20px;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 70px 0px;

  @media (max-width: 828px) {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .upper {
    display: flex;
    flex-direction: row;

    @media (max-width: 828px) {
      flex-direction: column;
    }

    .image-wrapper {
      width: 300px;
      height: auto;
      flex: 1;

      @media (max-width: 828px) {
        width: 100%;
        height: 1000px;
      }
    }
    .details {
      padding: 0px 25px;
      display: flex;
      flex-direction: column;
      flex: 1;

      @media (max-width: 828px) {
        padding: 25px;
      }

      .tshirtName {
        font-weight: bold;
      }
      .colorWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .colorTitle {
          margin: 0;
        }

        .color-choice {
          cursor: pointer;
          margin: 0;
          .color {
            margin-left: 10px;
            margin-top: 5px;
            border: 3px solid black;
            height: 30px;
            width: 30px;
            background-color: black;
            border-radius: 50%;
            display: inline-block;
          }

          .color-option {
            display: none;
          }

          .color-option:checked {
            + div {
              border: 3px solid #e9c70a;
            }
          }
        }
      }
      button {
        width: 100%;
        height: 46px;
        outline: none;
        color: black;
        background-color: #e9c70a;
      }
      .example-headers-align {
        margin-top: 40px;
        width: 100%;
      }
    }
  }
}
