<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="upper">
        <div class="carousel"></div>
        <div class="details">
          <p class="tshirtName">{{ selectedProduct?.product_name }}</p>
          <p class="price">{{ selectedProduct.price }} EGP</p>
          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <mat-select [(ngModel)]="selectedProduct.size">
              <mat-option *ngFor="let size of productD.size" [value]="size">{{ size }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div class="colorWrapper">
            <p class="colorTitle">color</p>
            <span class="color"></span>
          </div> -->
          <mat-form-field style="width: 90px !important;" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input
              [(ngModel)]="selectedProduct.quantity"
              matInput
              class="quantityInput"
              type="number"
              [value]="productD.quantity"
              min="1"
              max="5"
            />
          </mat-form-field>
          <button mat-raised-button (click)="addToCart()">Add to cart</button>
        </div>
      </div>
      <div class="lower">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Product Info
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Return & refund Policy
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Shipping
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </body>
</html>
