<div class="content-wrapper">
  <div class="home-carousel-wrapper">
    <!-- <mdb-carousel [animation]="'slide'"> -->
    <mdb-carousel>
      <mdb-carousel-item>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide" />
        <!-- <img class="d-block w-100" src="/assets/shirts/carsoul1.jpg" alt="First slide" /> -->
      </mdb-carousel-item>
      <mdb-carousel-item>
        <!-- <img class="d-block w-100" src="/assets/shirts/carsoul2.jpg" alt="First slide" /> -->

        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide" />
      </mdb-carousel-item>
      <mdb-carousel-item>
        <!-- <img class="d-block w-100" src="/assets/shirts/carsoul3.jpg" alt="First slide" /> -->

        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide" />
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="section2">
    <h2>Collection</h2>
    <div class="items-wrapper">
      <div *ngFor="let item of products">
        <app-product-home [prodInfo]="item"></app-product-home>
      </div>
    </div>
  </div>
</div>
