.content-wrapper {
  .home-carousel-wrapper {
    width: 100%;

    @media (max-width: 597px) {
      height: 250px;
    }
  }

  .section2 {
    padding: 50px 30px;
    margin-bottom: 5%;

    @media (max-width: 597px) {
      padding: 50px 0px;
    }

    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "Lulo Clean", Arial, Helvetica, sans-serif;
      margin-left: 27px;
      margin-bottom: 20px;
    }

    .items-wrapper {
      display: grid;
      grid-template-rows: auto;

      @media (min-width: 597px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 790px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: 1130px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
