.content-wrapper {
  .home-carousel-wrapper {
    height: 600px;
    width: 100%;
  }

  .section2 {
    padding: 50px 30px;

    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "Lulo Clean", Arial, Helvetica, sans-serif;
      margin-left: 27px;
      margin-bottom: 20px;
    }

    .items-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      // padding: 20px;

      .shirt-container {
        height: 400px;
        width: 85%;
        background: grey;
        margin: 20px auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        h3 {
          position: absolute;
          margin: 0;
          bottom: -15px;
          background: #e9c70a;
          width: 70%;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}
