.aboutWrapper {
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 200px);

  display: grid;
  grid-template-columns: 1fr 1fr;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60%;
      height: auto;
    }
  }
  .second {
    background-color: #333;
  }

  .third {
    background-color: #e9c70a;
  }
  img {
    // width: 158px;
    // padding: 6px;
    margin: auto;
    // background: black;
    // height: 33px;
  }
  p {
    // border: 1px solid red;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
}
