.aboutWrapper {
  width: 100%;
  height: calc(100vh - 200px);
  flex-direction: row;
  display: flex;
  align-items: center;

  @media (max-width: 397px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 790px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 1130px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .first {
    flex: 1;
    width: 100%;
    background: #e9c70a;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 50px;
      text-align: center;
      color: black;
    }
  }
  .second {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    p {
      width: 76%;
      /* flex: 1; */
      font-size: 25px;
      text-align: center;
      color: white;
      @media (min-width: 100px) {
        width: 100%;
        margin: 10px;
        font-size: 18px;
        text-align: center;
        color: white;
      }
      @media (min-width: 397px) {
        width: 100%;
        margin: 10px;
        font-size: 25px;
        text-align: center;
        color: white;
      }

      @media (min-width: 790px) {
        width: 100%;
        margin: 10px;
        font-size: 30px;
        text-align: center;
        color: white;
      }

      @media (min-width: 1130px) {
        width: 100%;
        /* flex: 1; */
        // font-size: 10px;
        text-align: center;
        color: white;
        // margin: 10px;
      }

      // @media (min-width: 60em) {
      //   font-size: 100%;
      //   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      // }
    }
  }
}
