<div class="aboutWrapper">
  <div class="first">
    <h1>About Us</h1>
  </div>
  <!-- <div class="box"></div> -->
  <!-- <div class="box2"></div> -->
  <div class="second">
    <p>
      We are a small group of individuals trying to give an opportunity to those who are seeking a chance to showcase their work & talent
      and Create a strong community of artists and satisfied customers that looks pretty fresh.
    </p>
  </div>
  <!-- <div class="second">
    <img src="/assets/mission.png/" alt="" />
  </div> -->
  <!-- <div class="third">
    <img src="/assets/visionwhite.png/" alt="" />
  </div> -->
  <!-- <div class="forth">
  </div> -->
</div>
