<div class="cardWrapper">
  <mat-card class="example-card">
    <div class="imageWrapper">
      <img mat-card-image [src]="(product?.images)[0]" alt="Photo of a Shiba Inu" />
    </div>
    <mat-card-content>
      <div class="details">
        <h5 class="tshirtName">{{ product?.product_name }}</h5>
        <div class="secondary-details">
          <p class="color">
            Color:
            <!-- <span [className]="'color-indicator ' + data.color"></span> -->
            <span [className]="data.color"></span>
            {{ data.color }}
          </p>
          <p class="size">Size: {{ data.size }}</p>
        </div>
        <h6 class="price">{{ product?.price }} LE</h6>
      </div>
      <div class="Quantity">
        <mat-form-field style="width: 90px !important;" appearance="outline">
          <mat-label>Quantity</mat-label>
          <input
            [(ngModel)]="data.quantity"
            matInput
            class="quantityInput"
            type="number"
            (change)="quantityamount()"
            [value]="data.quantity"
            min="1"
            max="5"
          />
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="removeItem()">Remove</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
