<div class="cardWrapper">
  <mat-card class="example-card">
    <div class="imageWrapper">
      <img mat-card-image src="assets/shirts/t2.jpg" alt="Photo of a Shiba Inu" />
    </div>
    <mat-card-content>
      <div class="details">
        <p class="tshirtName">{{ data.product_name }}</p>
        <p class="price">{{ data.price }}</p>
        <p class="color">{{ data.color }}</p>
      </div>
      <div class="Quantity">
        <mat-form-field style="width: 90px !important;" appearance="outline">
          <mat-label>Quantity</mat-label>
          <input
            [(ngModel)]="data.quantity"
            matInput
            class="quantityInput"
            type="number"
            (change)="quantityamount()"
            [value]="data.quantity"
            min="1"
            max="5"
          />
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="removeItem()">Remove</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
