.cardWrapper {
  //   border: 1px solid red;
  width: 550px;

  .example-card {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .imageWrapper {
      width: 250px;
      height: 100%;
      .mat-card-image {
        padding: 0;
        margin: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
  mat-card-content {
    border: 1px solid red;
  }
}
