.stepperWrapper {
  width: 100%;
  margin: auto;
  border: 1px solid red;
  .mat-stepper-horizontal {
    margin-top: 8px;
    height: 100%;
    margin: 50px;
    .orderWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .left {
        // flex: 1;
        // border: 1px solid red;
      }
      .right {
        width: 100%;

        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        h1 {
          margin: 29px;
        }
        table {
          margin: 10px;
          height: 113px;
          width: 70%;
          text-align: center;
        }
        .nextButton {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 50px;
          button {
            width: 42%;
            height: 46px;
            color: #ffffff;
            outline: none;
            background-color: #333;
            border-radius: 0px;
          }
        }
      }
    }
  }
  .mat-form-field {
    // margin-top: 16px;
  }
}
