<div class="stepperWrapper">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <div class="orderWrapper">
        <ng-template matStepLabel>Order Summary</ng-template>
        <div class="left">
          <ng-container *ngFor="let item of sampleData">
            <app-product-card (quantity)="updateQuantity($event)" [productData]="item" (delete)="removeItem($event)"></app-product-card>
          </ng-container>
          <!-- <app-product-card></app-product-card>
          <app-product-card></app-product-card> -->
        </div>
        <div class="right">
          <h1>Order Summary</h1>
          <table>
            <tr>
              <th>Subtotal</th>
              <td>200 LE</td>
            </tr>
            <tr>
              <th>Shipping</th>
              <td>45 LE</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <th>Total</th>
              <th>445 LE</th>
            </tr>
          </table>
          <div class="nextButton">
            <button mat-raised-button matStepperNext>Next</button>
            <!-- <button mat-button matStepperNext>Next</button> -->
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <!-- <form [formGroup]="secondFormGroup"> -->
      <ng-template matStepLabel>Shipping address</ng-template>
      <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input [(ngModel)]="shippingData.fullname" matInput name="fullname" placeholder="John Doe" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="shippingData.email" matInput name="email" placeholder="John Doe" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input [(ngModel)]="shippingData.phonenumber" matInput name="phonenumber" placeholder="John Doe" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Street Address</mat-label>
        <input [(ngModel)]="shippingData.streetaddress" matInput name="streetaddress" placeholder="John Doe" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="nextStep()">Next</button>
      </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
