.stepperWrapper {
  width: 100%;

  margin: auto;
  border: 1px solid red;
}

.mat-stepper-horizontal {
  margin-top: 8px;
  height: 100%;
  margin: 50px;
  //   border: 1px solid red;
}

.mat-form-field {
  margin-top: 16px;
}
