<!-- <div class="stepperWrapper"> -->
<mat-vertical-stepper linear="true" #stepper>
  <mat-step [editable]="isEditable">
    <div class="noItems" *ngIf="realData.length == 0">
      <h3>Cart is empty</h3>
      <!-- <div class="shoppingCartbutton"> -->
      <button routerLink="/" mat-raised-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon>
        Continue shopping
        <!-- <a routerLink="/">Continue shopping </a> -->
      </button>
      <!-- </div> -->
    </div>
    <div *ngIf="realData.length > 0" class="orderWrapper">
      <ng-template matStepLabel>Order Summary</ng-template>
      <div class="left">
        <ng-container *ngFor="let item of realData">
          <app-cart-card (quantity)="updateQuantity($event)" [productData]="item" (delete)="removeItem($event)"></app-cart-card>
        </ng-container>
        <!-- <app-product-card></app-product-card>
          <app-product-card></app-product-card> -->
      </div>
      <div class="right">
        <h1>Order Summary</h1>
        <table>
          <tr>
            <th>Subtotal</th>
            <td>{{ sum }} LE</td>
          </tr>
          <tr>
            <th>Shipping</th>
            <td>45 LE</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <th>Total</th>
            <th>{{ getTotal() }} LE</th>
          </tr>
        </table>
        <div class="nextButton">
          <button mat-raised-button matStepperNext>Next</button>
          <!-- <button mat-button matStepperNext>Next</button> -->
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="shippingData" [editable]="isEditable">
    <form [formGroup]="shippingData" (ngSubmit)="nextStep()" #shippingform>
      <ng-template matStepLabel>Shipping address</ng-template>
      <div class="shippinginfo">
        <div class="personal">
          <h4 style="font-weight: bold;">Personal info</h4>
          <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullname" name="fullname" placeholder="John Doe" required />
            <mat-error *ngIf="errorHandling('fullname', 'required')"> You must provide a<strong> full name</strong> </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email" type="email" placeholder="myemail@gmail.com" required />
            <mat-error *ngIf="errorHandling('email', 'required')"> You must provide an<strong> email</strong> </mat-error>
            <mat-error *ngIf="errorHandling('email', 'email')"> Please provide a valid<strong> email</strong> </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phonenumber" name="phonenumber" type="tel" placeholder="John Doe" required />
            <mat-error *ngIf="errorHandling('phonenumber', 'required')"> You must provide a<strong> phone number</strong> </mat-error>
          </mat-form-field>
        </div>

        <div class="shippingaddrese">
          <div class="address">
            <h4 style="font-weight: bold;">Shipping info</h4>
            <mat-form-field>
              <mat-label>Street Address</mat-label>
              <input matInput formControlName="streetaddress" name="streetaddress" type="text" placeholder="" required />
              <mat-error *ngIf="errorHandling('streetaddress', 'required')"> You must provide a<strong> street address</strong> </mat-error>
            </mat-form-field>
            <div class="apt-info">
              <mat-form-field>
                <mat-label>Building No.</mat-label>
                <input matInput formControlName="building_no" name="building_no" type="number" required />
                <mat-error *ngIf="errorHandling('building_no', 'required')"> You must provide a<strong> building no</strong> </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Floor No.</mat-label>
                <input matInput formControlName="floor_no" name="floor_no" type="number" required />
                <mat-error *ngIf="errorHandling('floor_no', 'required')"> You must provide a<strong> floor no</strong> </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Flat No.</mat-label>
                <input matInput formControlName="flat_no" name="flat_no" type="number" required />
                <mat-error *ngIf="errorHandling('flat_no', 'required')"> You must provide a<strong> flat no</strong> </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-label>Address landmark</mat-label>
              <input matInput formControlName="address_land" name="address_land" placeholder="Beside the famous.." />
            </mat-form-field>
          </div>
          <div class="comment">
            <h4 style="font-weight: bold; visibility: hidden;">Personal info</h4>
            <mat-form-field>
              <mat-label>Comments</mat-label>
              <textarea rows="10" matInput formControlName="comment" name="comment" style="resize: none;"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- <button mat-flat-button color="primary">Submit</button> -->
      <div class="buttonsWrapper">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="nextSteps()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [editable]="isEditable">
    <div class="orderWrapper">
      <ng-template matStepLabel>Done</ng-template>
      <div class="left">
        <mat-card>
          <mat-icon class="editIcon" (click)="edit()">edit</mat-icon>
          <h3 class="shipAdd">Shipping Address</h3>

          <table class="shipping-address-table">
            <tr>
              <th>Full name</th>
              <td>{{ shippingData.value.fullname }}</td>
            </tr>
            <tr>
              <th>Phone No:</th>
              <td>{{ shippingData.value.phonenumber }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ shippingData.value.email }}</td>
            </tr>
            <tr>
              <th>Building No:</th>
              <td>{{ shippingData.value.building_no }}</td>
            </tr>
            <tr>
              <th>Floor No:</th>
              <td>{{ shippingData.value.floor_no }}</td>
            </tr>
            <tr>
              <th>Flat No:</th>
              <td>{{ shippingData.value.flat_no }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ shippingData.value.streetaddress }}</td>
            </tr>
            <tr>
              <th>Landmark</th>
              <td>{{ shippingData.value.address_land }}</td>
            </tr>
            <tr>
              <th>Comment</th>
              <td>{{ shippingData.value.comment }}</td>
            </tr>
          </table>
        </mat-card>
        <mat-card>
          <h3>Payment Method</h3>
          <mat-list role="list">
            <mat-list-item role="listitem" class="cashondeli">Cash On Delivery</mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div class="right">
        <h1>Order Summary</h1>
        <table>
          <tr>
            <th>Subtotal</th>
            <td>{{ sum }} LE</td>
          </tr>
          <tr>
            <th>Shipping</th>
            <td>45 LE</td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
          <tr>
            <th>Total</th>
            <th>{{ getTotal() }} LE</th>
          </tr>
        </table>
        <div class="buyNowButton">
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
          <button mat-raised-button matStepperNext>BUY NOW</button>
          <!-- <button mat-button matStepperNext>Next</button> -->
        </div>
      </div>
    </div>
    <div></div>
  </mat-step>
</mat-vertical-stepper>
<!-- </div> -->
