/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Lulo Clean";
  font-display: swap;
  src: url("assets/fonts/Lulo-Clean\ One\ Bold.ttf") format("truetype");
}

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #e9c70a;
}

.home-carousel-wrapper {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }
}

.navbar {
  background: black;
  color: white;
  min-height: 50px;

  links {
    font-weight: bold !important;
    font-family: "Roboto" Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 15px;
    justify-content: center;

    li {
      margin-right: 2.5rem;
    }
  }

  .nav-item.active > .nav-link {
    background-color: transparent !important;
    color: #e9c70a !important;
  }
}
